<div class="container">

    <div>
        <table>
            <tr>
                <td>
                    <button (click)="triggerSnapshot()">Capture Image Snapshot</button>
                    <button (click)="startCamera()">Start Webcam</button>
                    <button (click)="stopCamera()">Stop Webcam</button>
                </td>
            </tr>
            <tr>
                <td>
                    <div *ngIf="webCam$ | async as w">
                        <div *ngIf="w.isCameraOn">
                            <webcam
                                #webcam
                                [height]="400"
                                [width]="600"
                                [trigger]="triggerObservable" (imageCapture)="handleImage($event)"
                                [videoOptions]="videoOptions"
                                [imageQuality]="1"
                            ></webcam>
                        </div>

                        <div class="snapshot" *ngIf="w.currentImage">
                            <img id="capturedImage" [src]="w.currentImage" height="400" alt="Captured Webcam Image"/>
                        </div>
                    </div>
                </td>
            </tr>
        </table>
    </div>

</div>
